.footer {
  font-family: 'Gloria Hallelujah', sans-serif, '新細明體', cursive;
  width: 100%;
  max-width: 1080px;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.8);
  color: white;
  text-align: center;
  padding: 1em 0;
}