.header {
  position: relative;
}

.header-image {
  width: 100%;
  z-index: -1;
  /*filter: blur(.1em);*/
}

.header-content {
  position: fixed;
  color: white;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header-bar {
  width: 100%;
  max-width: 1080px;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.8);
}

.header-content h1 {
  display: inline-block;
  margin: 0 .5em;
  text-decoration: none;
  color: white;
}

